* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline:none;
    font-family: raleway, sans-serif;
}

body {
    overflow-x:hidden;
}


/* Start Loader */
.load {
    width: 100vw;
    height:100vh;
    background-color:#333;
    position:fixed;
    z-index:10;
}

.load .loader section {
    display:block;
    margin:230px auto;
    width:100px;
    height:100px;
    border:5px solid #f7600e;
    border-bottom:none;
    border-left:none;
    border-radius:50%;
    text-align:center;
    animation:section 1s linear infinite alternate-reverse;
}
.load .loader section span {
    width:70px;
    height:70px;
    border:5px solid #f7600e;
    display:block;
    margin:10px auto;
    animation:span 1s linear infinite alternate-reverse;
}

@keyframes section {
    to {
        transform:rotate(360deg);
    }
}

@keyframes span {
    to {
        transform:rotate(360deg);
    }
}



/* End Loader */

/* Start Slider-nav */

.slider-nav {
    height:100vh;
    background-color:#CCC;
    overflow:hidden;
    background:url('https://imgur.com/aLs9ByV.jpg') center center no-repeat;
    background-size:cover;
}

.slider-nav-opacity {
    overflow: hidden;
    height:100%;
    background-color:#464c53f1;
}

/* Start Nav */

nav {
    height:80px;
}

nav h1 {
    color:#FFF;
    font-size:20px;
    margin:20px;
    margin-left:90px;
    font-weight:bold;
    width:30%;
    float:left;
}

nav h1 span {
    font-family:arial;
    color:#f7600e;
}

nav button {
    font-weight: bold;
    float:right;
    margin:20px;
    margin-right:90px;
    background:none;
    color:#FFF;
    border:none;
}

/* ENd Nav */


/* Start Slider */

.slider {
    text-align:center;
    margin-top:130px;
}

.slider h1 {
    font-family: Arial;
    font-weight: bold;
    font-size:60px;
    color:#FFF;
}

.slider h1 span {
    font-family: Arial;
    font-weight: bold;
    color:#f7600e;
}

.slider p {
    color:#FFF;
    line-height: 30px;
    font-size:17px;
    font-family:Arial;
    margin-top:30px;
}

.slider button {
    padding:5px 20px;
    background: none;
    color:#FFF;
    border:1px solid rgba(170, 170, 170, 0.529);
    border-radius:5px;
    margin:10px;
    font-weight: bold;
    transition:all .2s linear;
}

.slider button:hover {
    background:#f7600e;
    border:none;
}

.slider button:last-of-type {
    border-radius:50%;
    padding:5px 10px;
    border:2px solid #FFF;
    background:none;
    color:#FFF;
    margin-top:50px;
    display:block;
    margin:20px auto;
    animation:angleDown .5s linear infinite alternate;
}

@keyframes angleDown {
    from {
        transform:translateY(15px);
    }

    to {
        transform:translateY(10px);
    }
}

/* End Slider */


/* Media */

@media (max-width:771px) {
    nav h1 {
        margin-left:10px;
    }

    nav button {
        margin-right:10px;
    }

    .slider h1 {
        font-size:30px;
        margin:20px;
    }

    .slider p {
        font-size:13px;
        margin:20px;
    }

    .slider button:last-of-type {
        padding:3px 7px; 
    }
}
 
/* Media */



/* ENd Slider-nav */


/* Start popup nav */
.popup {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    background-color:rgba(0, 0, 0, 0.871);
    z-index:2;
    display:none;
}

.popup button {
    margin:30px;
    padding:2px 5px;
    border-radius:50%;
    border:3px solid #FFF;
    background:none;
    color:#FFF;
    font-weight:bold;
}

.popup ul {
    margin-top:80px;
}

.popup ul li {
    text-align:center;
    color:#FFF;
    font-weight:bold;
    font-size:40px;
    margin-top:20px;
    cursor:pointer;
    transition:all .2s linear;
}

.popup ul li:hover {
    color:#f7600e;
}

/* End PoPUP nav */




/* Start Features */
.feat {
    text-align:center;
    margin-bottom:80px;
}

.feat section {
    margin-top:80px;
    opacity:0;
    transition:all .5s linear;
}

.feat .feat1 {
    margin-left:-230px;
}

.feat .feat2 {
    margin-top:-30px;
}

.feat .feat3 {
    margin-top:200px;
}

.feat .feat4 {
    margin-right:-230px;
}

.feat section i {
    color:#f7600e;
    width:120px;
    padding:30px 0;
    border:1px solid rgba(170, 170, 170, 0.515);
    FONT-size:50px;
    border-radius: 50%;
    cursor:pointer;
    transition: all .2s linear;
}

.feat section i:hover {
    border:1px solid #f7600e;
}

.feat section h4 {
    font-weight: bold;
    color:#333;
    margin-top:25px;
}

.feat section p {
    margin-top:20px;
    font-size:12px;
    font-weight: bold;
    color:#888;
}

/* End Features */




/* Start Subscribe */
.subsc {
    height:130px;
    border:1px solid #333;
    background:url('https://imgur.com/kBLIZWC.jpg') center center no-repeat;
    background-size:cover;
    margin-bottom:80px;
    text-align:center;
}

.subsc-opacity {
    background-color:#464c53f1;
    height:100%;
}

.subsc-opacity input {
    padding:5px 0px;
    width:50%;
    margin-top:40px;
    border-radius:10px;
    border:none;
    font-weight: bold;
    padding-left:5px;
}

.subsc-opacity button {
    color:#FFF;
    background-color:#f7600e;
    border:none;
    padding:6px 30px;
    margin-left:10px;
    border-radius:10px;
    font-weight: bold;
}

@media (max-width:480px) {
    .subsc-opacity input {
        width:90%;
        margin-bottom:10px;
    }
}

/* Start Subscribe */ 





/* Start Our Works */

.our-works {
    margin-bottom:80px;
    transition:all .2s linear;
    opacity:0;
}

.our-works h1 
{
    font-weight: bold;
}

.our-works h1 span {
    color:#f7600e;
}

.our-works p {
    margin-top:20px;
    font-size:12px;
    font-weight: bold;
    color:#888;
}

.our-works section {
    height:250px;
    border-radius:10px;
    margin-top:30px;
    cursor:pointer;
}

.work-opacity {
    height:100%;
    background: #f7600ec4;
    color:#FFF;
    border-radius: 10px;
    overflow:hidden;
    opacity:0;
    transition:all .2s linear;

}

.work-opacity h4 {
    font-weight: bold;
    margin-top:50px;
}

.work-opacity p {
    color:#FFF;
    font-weight: normal;
}

.work-opacity button {
    padding:8px 30px;
    color:#f7600e;
    background-color:#FFF;
    font-weight:bold;
    border-radius:10px;
    border:none;
}


.our-works .row  div:first-of-type section {
    background:url('https://imgur.com/RWnMfqe.jpg') center center no-repeat;
    background-size:cover;
}

.our-works .row div:nth-of-type(2) section {
    background:url('https://imgur.com/rTdNy5H.jpg') center center no-repeat;
    background-size:cover;
}

.our-works .row  div:nth-of-type(3) section {
    background:url('https://imgur.com/KJiMBXl.jpg') center center no-repeat;
    background-size:cover;
}

.our-works .row  div:nth-of-type(4) section {
    background:url('https://imgur.com/9cVxkzT.jpg') center center no-repeat;
    background-size:cover;
}

.our-works .row  div:nth-of-type(5) section {
    background:url('https://imgur.com/KQUVqRC.jpg') center center no-repeat;
    background-size:cover;
}

.our-works .row  div:last-of-type section {
    background:url('https://imgur.com/dZSXLaW.jpg') center center no-repeat;
    background-size:cover;
}

.our-works .show-more {
    color:#000;
    border:1px solid rgba(85, 85, 85, 0.2);
    padding:7px 25px;
    margin-top:50px;
    margin-bottom:50px;
    background:none;
    font-weight: bold;
    border-radius:10px;
}

#work1:hover .work-opacity {
    opacity: 1;
}

#work2:hover .work-opacity {
    opacity: 1;
}

#work3:hover .work-opacity {
    opacity: 1;
}

#work4:hover .work-opacity {
    opacity: 1;
}


#work5:hover .work-opacity {
    opacity: 1;
}

#work6:hover .work-opacity {
    opacity: 1;
}


/* End Our Works */

/* Start Portfolio */

.portfolio {
    margin:50px 0 70px 0;
    opacity:1;
    transition:all .3s linear;
}

.portfolio h1 {
    font-weight:bold;
    text-align:center;
    color:#000;
    margin-bottom:35px;
}

.portfolio h1 span {
    color:#f7600e;
    font-size:33px;
    font-family: raleway, sans-serif;
}

.portfolio span {
    font-size:18px;
    color:#d91c21;
    font-family: Arial;
    font-weight: bold;
}

.portfolio .bx-wrapper {
    height:250px;
    background:url('https://imgur.com/skHDNDR.jpg') center center no-repeat;
    background-size:cover;
}

.portfolio .bx-viewport {
    background-color:#49515bc4;
    height:100% !important;
    width:100%;
}

.portfolio h1 hr {
    border:1px solid #1490d7;
    width:50px;
    margin:20px auto;
}




.bx-slider2 li h3 {
    font-weight: bolder;
    color:#f7600e;
    text-align:center;
    padding-top:30px;
}

.bx-slider2 .port-last {
    padding-top:0px;
}

.bx-slider2 li p {
    font-weight: bold;
    width:80%;
    margin:10px auto;
    text-align:center;
    color:#FFF;

}

.bx-slider2 .port-lastp {
    width:100%;
    font-size:13px;
}


.portfolio .bx-wrapper .bx-pager.bx-default-pager a { 
    background-color:#DDD;
    width:8px;
    height:8px;
    border-radius:50%;
}

.portfolio .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {  
    background-color:#f7600e;
    z-index:1;
}



@media (max-width:767px) {

    .bx-slider2 .port-lastp {
        font-size:8px;
    }

    .portfolio h3 {
        padding-top:15px;
    }


    .portfolio  span {
        font-size:12px;
    }

    
    .portfolio .bx-wrapper {
        height:280px;
    }
}


@media (max-width:350px) {
    

    .bx-slider2 p {
        font-size:13px;
    }

    .bx-slider2 .port-lastp {
        font-size:8px;
    }

    .portfolio .bx-wrapper {
        height:300px;
    }
}

/* End Portfolio */  



/* Start Our Team */

.team {
    margin-bottom:50px;
    transition:all .2s linear;
    opacity:0;
}

.team h1 
{
    font-weight: bold;
}

.team h1 span {
    color:#f7600e;
}

.team p {
    margin-top:20px;
    font-size:12px;
    font-weight: bold;
    color:#888;
}

.team section {
    margin-top:50px;
    filter:gray;
    filter:grayscale(1);
    transition:all .2s linear;
    cursor:pointer;
    border-radius:10px;
}

.team section:hover {
    filter:none;
    transform: translate3d(0px, -10px, 100px);
    border-bottom:5px solid #f7600e;
}

.team div i {
    width:20px;
    height:20px;
    border-radius: 50%;
    color:#FFF;
    line-height: 20px;
    cursor:pointer;
}

.team div i:first-of-type {
    background-color:#5e88b9;
}


.team div i:nth-of-type(2) {
    background-color:#01ace3;
}

.team div i:last-of-type {
    background-color:#F00;
}



.team .row div:first-of-type section {
    background:url("https://imgur.com/qDivMIj.jpg") center center no-repeat;
    background-size:cover;
    height:250px;
}


.team .row div:nth-of-type(2) section {
    background:url("https://imgur.com/cnx9rpx.jpeg") center center no-repeat;
    background-size:cover;
    height:250px;
}

.team .row div:nth-of-type(3) section {
    background:url("https://imgur.com/hOOYx3R.jpg") center center no-repeat;
    background-size:cover;
    height:250px;
}

.team .row div:last-of-type section {
    background:url("https://imgur.com/zwfRnbO.jpg") center center no-repeat;
    background-size:cover;
    height:250px;
}

.team-dots {
    margin-top:20px;
}

.team-dots span {
    display:inline-block;
    margin:7px;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#CCC;
    text-align:center;
    transition:all .2s linear;
}

/* End Our Team */


/* Start Contact Us */

.contact {
    background:url('https://imgur.com/skHDNDR.jpg') center center no-repeat;
    background-size:cover;
    overflow:hidden;
}

.contact-opacity {
    background-color:#464c53f1;
    height:100%;
    overflow:hidden;
}


.contact h2 
{   color:#FFF;
    font-weight: bold;
    MARgin-top:70px;
}

.contact h2 span {
    color:#f7600e;
}

.contact p {
    margin-top:20px;
    font-size:12px;
    font-weight: bold;
    color:#FFF;
}

.contact form {
    width:550px;
    margin:30px auto;
    padding-bottom:50px;
}

.contact form input {
    font-weight:bold;
    border-radius:5px;
    border:0;
}

.contact form .email {
    width:250px;
    padding:3px 0px 7px 7px;
}

.contact form .subject {
    width:250px;
    margin-left:20px;
    padding:3px 0px 7px 7px;
}

.contact form .message {
    display:block;
    width:535px;
    padding:3px 0px 120px 7px;
    margin:20px auto;
}

.contact form button {
    padding:4px 20px;
    margin-left:20px;
    background:#f7600e;
    border:none;
    float:left;
    border-radius:5px;
    color:#FFF;
    font-weight: bold;
}

.contact .form-icons  {
    float:right;
    margin-right:10px;
} 

.contact .form-icons i {
    width:20px;
    height:20px;
    border-radius: 50%;
    color:#FFF;
    line-height: 20px;
    cursor:pointer;
}

.contact .form-icons i:first-of-type {
    background-color:#5e88b9;
}

.contact .form-icons i:nth-of-type(2) {
    background-color:#01ace3;
}

.contact .form-icons i:nth-of-type(3) {
    background-color:#F00;
}

.contact .form-icons i:last-of-type {
    background-color:#0b7ba0;
}

@media (max-width:600px) {

    .contact form {
        width:100%;
    }

    .contact form .email {
        width:200px;
        padding:3px 0px 7px 7px;
    }
    
    .contact form .subject {
        width:200px;
        margin-left:20px;
        padding:3px 0px 7px 7px;
    }
    
    .contact form .message {
        display:block;
        width:435px;
        padding:3px 0px 120px 7px;
        margin:20px auto;
    }

}

@media (max-width:480px) {

    .contact form .email {
        width:70%;
        padding:3px 0px 7px 7px;
    }
    
    .contact form .subject {
        width:70%;
        display:block;
        padding:3px 0px 7px 7px;
        margin:30px auto;
    }
    
    .contact form .message {
        display:block;
        width:90%;
        padding:3px 0px 120px 7px;
        margin:20px auto;
    }

}

/* End Contact us */

/* Start Footer */

footer {
    overflow:hidden;
    background-color:#49515b;
    height:50px;
}

footer p {
    color:#DDD;
    font-weight:bold;
    margin:20px;
}

/* End Footer */